html {
  height: 100%;
  font-size: 100%;
}

body {
    color: #565656;
    background: white;
}

.main-style{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.main-style h1{
    background: #84cabf;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.main-style input[type="text"],
.main-style input[type="date"],
.main-style input[type="datetime"],
.main-style input[type="email"],
.main-style input[type="number"],
.main-style input[type="search"],
.main-style input[type="time"],
.main-style input[type="url"],
.main-style textarea,
.main-style select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.main-style input[type="text"]:focus,
.main-style input[type="date"]:focus,
.main-style input[type="datetime"]:focus,
.main-style input[type="email"]:focus,
.main-style input[type="number"]:focus,
.main-style input[type="search"]:focus,
.main-style input[type="time"]:focus,
.main-style input[type="url"]:focus,
.main-style textarea:focus,
.main-style select:focus
{
    box-shadow: 0 0 5px #84cabf;
    padding: 3%;
    border: 1px solid #84cabf;
}

.main-style button,
.main-style input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #84cabf;
    border-bottom: 2px solid #77b7ad;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}

.main-style button:hover,
.main-style input[type="button"]:hover{
    background: #77b7ad;
    cursor: pointer;
}

#btn-test {    
    margin-top: 10px;
}